//primary colors
$primary-magenta: hsl(300, 43%, 22%);
$primary-pink: hsl(333, 80%, 67%);

//neutral colors
$neutral-magenta-dark: hsl(303, 10%, 53%);
$neutral-magenta-light: hsl(300, 24%, 96%);
$neutral-white: hsl(0, 0%, 100%);

//font size
$body-size: .9375rem; //15px

//font-family
$font-all: "League Spartan",sans-serif;

//font-weight
$regular:400;
$medium:500;
$bold:700;